@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #333;
}
div{
    box-sizing: border-box;
}
#wrap{
    width: 1000px;
    display: flex;
}

/* header */
#header{
    width: 20%;
    background-color: rgb(241, 218, 255);
}

/* logo */
#header .logo{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
}
#header .logo a{
    color: rgb(80, 31, 109);
}

/* nav */
#header .nav{
    width: 100%;
    height: 550px;
    background-color: aqua;
}
.nav > ul > li{
    position: relative;
}
.nav > ul > li > a{
    display: block;
    padding: 15px;
    text-align: center;
    background-color: rgb(231, 192, 255);
}
.nav > ul > li > a:hover{
    background-color: rgb(211, 140, 255);
}
.nav > ul > li > ul{
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 1000;
    width: 200px;
}
.nav > ul > li > ul > li > a{
    display: block;
    padding: 15px;
    text-align: center;
    background-color: rgb(180, 145, 202);
}
.nav > ul > li > ul > li > a:hover{
    background-color: rgb(115, 85, 134);
}

/* main */
#main{
    width: 80%;
}

/* slider */
#slider{
    width: 100%;
    height: 350px;
    background-color: bisque;
    position: relative;
}
.sliderWrap > div{
    display: none;
}
.sliderWrap > div:first-child{
    display: block;
}
.sliderWrap .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sliderWrap .slider img{
    width: 100%;
    height: 100%;
}
.sliderWrap .slider .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(236, 203, 255);
    width: 60%;
    text-align: center;
}
.sliderWrap .slider .text h2{
    margin-bottom: 10px;
}

/* contents */
#contents{
    width: 100%;
    display: flex;
}

/* notice */
#tab{
    width: 33.3333%;
    height: 200px;
    background-color: yellowgreen;
    padding: 10px;
}
#tab .tab-btn{
    display: flex;
    margin-bottom: 10px;
}
#tab .tab-btn a{
    padding-right: 10px;
}
#tab .tab-btn a.active{
    text-decoration: underline;
}
#tab .underline{
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    margin-bottom: 10px;
}
#tab .notice{
    display: none;
}
#tab .notice li{
    line-height: 1.8;
    font-size: 15px;
}
#tab .notice li:hover{
    text-decoration: underline;
}
#tab .gallery{
    display: flex;
    justify-content: space-between;
}
#tab .gallery li{
    cursor: pointer;
}
#tab .gallery img{
    width: 80px;    
}
#tab .gallery li:hover img{
    opacity: 0.7;    
}

#gallery{
    width: 33.3333%;
    height: 200px;
    background-color: brown;
}
#banner{
    width: 33.3333%;
    height: 200px;
    background-color: blue;
}
#footer{
    width: 100%;
    display: flex;
}
#footer .footer1{
    width: 15%;
    height: 100px;
    background-color: violet;
}
#footer .footer2{
    width: 70%;
    height: 100px;
    background-color: rgb(255, 203, 255);
}
#footer .footer3{
    width: 15%;
    height: 100px;
    background-color: rgb(73, 35, 73);
}