@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #000;
}
#wrap{
    margin: 0 auto;
    width: 1200px;
}
#header{
    width: 100%;
    display: flex;
}
#header .logo{
    width: 20%;
    height: 100px;
    background-color: azure;
}

/* nav */
#header .nav{
    width: 80%;
    height: 100px;
    background-color: rgb(192, 206, 206);
}
.nav > ul{
    justify-content: right;
    display: flex;
    margin-top: 58px;
}
.nav > ul > li{
    position: relative;
}
.nav > ul > li > a{
    display: inline-block;
    padding: 10px 50px;
    background-color: rgb(168, 204, 204);
}
.nav > ul > li > a:hover{
    background-color: rgb(121, 194, 194);
}
.nav > ul > li > ul{
    position: absolute;
    left: 0;
    top: 38px;
    width: 100%;
    height: 200px;
    text-align: center;
    display: none;
    z-index: 1000;
}
.nav > ul > li > ul > li > a{
    display: inline-block;
    padding: 10px;
    background-color: rgb(169, 250, 250);
    width: 100%;
    box-sizing: border-box;
}
.nav > ul > li > ul > li > a:hover{
    background-color: rgb(101, 216, 216);
}

/* slider */
#slider{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.sliderWrap{
    display: flex;
}
.sliderWrap .slider{
    position: relative;
}
.sliderWrap .slider img{
    vertical-align: top;
}
.sliderWrap .slider span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: steelblue;
    padding: 20px;
    color: #fff;
}

#contents{
    width: 100%;
    display: flex;
}

/* tab-menu */
#contents .contents1{
    width: 400px;
    height: 200px;
    background-color: aqua;
}
.tab-menu{
    padding: 20px;
}
.tab-menu .tab-btn ul{
    display: flex;
}
.tab-menu .tab-btn li.active a{
    text-decoration: underline;
}
.tab-menu .tab-btn li a{
    display: block;
    padding: 10px;
    background-color: aquamarine;
}
.tab-menu .tab-cont > div{
    padding: 10px;
    background-color: rgb(200, 255, 237);
    line-height: 1.6;
}
.tab-menu .tab-cont > div:nth-child(2){
    display: none;
}

#contents .contents2{
    width: 400px;
    height: 200px;
    background-color: rgb(104, 204, 204);
}

#contents .contents3{
    width: 400px;
    height: 200px;
    background-color: rgb(58, 95, 95);
}
/* popup */
#wrap{
    position: relative;
}
.contents3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-btn{
    background-color: slategray;
    padding: 10px;
    display: inline-block;
}
.popup-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #a2a2a2;
    border: 2px solid #000;
    z-index: 1000;
    display: none;
}
.popup-close{
    background-color: #fff;
    padding: 10px;
    display: inline-block;
}

#footer{
    width: 100%;
    display: flex;
}
#footer .footer1{
    width: 20%;
    height: 100px;
    background-color: bisque;
}
#footer .footer2{
    width: 80%;
}
#footer .footer2 .footer2-1{
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
}
#footer .footer2 .footer2-2{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 213, 150);
}