@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #333;
}
#wrap{
    margin: 0 auto;
    width: 1200px;
}
#header{
    width: 100%;
    display: flex;
    background-color: rgb(203, 231, 255);
}

/* logo */
#header .logo{
    width: 20%;
    height: 100px;
    padding: 25px 45px;
    box-sizing: border-box;
}
#header .logo h3{
    display: block;
}
#header .logo a{
    font-weight: bold;
    color: rgb(0, 52, 95);
}

/* nav */
#header .nav{
    width: 80%;
    height: 100px;
    position: relative;
}
.nav > ul{
    display: flex;
    justify-content: right;
    margin-top: 59px;
}
.nav > ul > li{
    position: relative;    
}
.nav > ul > li > a{
    display: inline-block;
    padding: 10px 50px;
    background-color: rgb(185, 224, 255);
}
.nav > ul > li > a:hover{
    background-color: rgb(134, 200, 255);
}
.nav > ul > li > ul{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    text-align: center;
    display: none;
    z-index: 1000;
}
.nav > ul > li > ul > li > a{
    display: inline-block;
    padding: 10px;
    width: 100%;
    background-color: rgb(155, 210, 255);
    box-sizing: border-box;
}
.nav > ul > li > ul > li > a:hover{
    background-color: rgb(95, 181, 252);
}

/* slider */
#slider{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#slider .sliderWrap{
    display: flex;
}
.sliderWrap .slider img{
    vertical-align: top;
}
.sliderWrap .slider .text{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 64, 116);
    width: 50%;
    padding: 20px;
    text-align: center;
    align-items: center;
}
.sliderWrap .slider .text h3{
    color: #fff;
    margin-bottom: 20px;
}
.sliderWrap .slider .text p{
    color: #fff;
}

#contents{
    width: 100%;
    display: flex;
}

/* tab */
#contents .tab{
    width: 400px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}
#contents .tab h3{
    display: flex;
    margin-bottom: 10px;
}
#contents .tab h3 a.active{
    text-decoration: underline;
}
#contents .tab h3 a{
    padding: 0 5px;
}
#contents .tab .tab-cont .notice{
    display: none;
}
#contents .tab .tab-cont .notice li{
    display: flex;
}
#contents .tab .tab-cont .notice a{
    width: 75%;
    line-height: 1.8;
}
#contents .tab .tab-cont .notice a:hover{
    text-decoration: underline;
}
#contents .tab .tab-cont .notice span{
    width: 25%;
    line-height: 1.8;
    text-align: right;
}
#contents .tab .tab-cont .gallery{
    display: flex;
    justify-content: space-between;
}
#contents .tab .tab-cont .gallery img{
    width: 100px;
}
#contents .tab .tab-cont .gallery img:hover{
    opacity: 0.7;
}

#contents .banner{
    width: 400px;
    height: 200px;
    background-color: aliceblue;
}
#contents .link{
    width: 400px;
    height: 200px;
    background-color: aquamarine;
}
#footer{
    width: 100%;
    display: flex;
}
#footer .footer1{
    width: 20%;
    height: 100px;
    background-color: blanchedalmond;
}
#footer .footer2{
    width: 80%;
}
#footer .footer2 .footer2-1{
    width: 100%;
    height: 50px;
    background-color: wheat;
}
#footer .footer2 .footer2-2{
    width: 100%;
    height: 50px;
    background-color: violet;
}