@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #000;
}
#wrap{
    width: 1000px;
    display: flex;
}
#header{
    width: 20%;
}
#header .logo{
    width: 100%;
    height: 100px;
    text-align: center;
}
#header .logo a{
    color: seagreen;
    padding: 20px;
    display: inline-block;
}

/* nav */
#header .nav{
    width: 100%;
    height: 550px;
}
.nav > ul > li > a{
    display: block;
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(255, 172, 157);
}
.nav > ul > li > a:hover{
    background-color: tomato;
}
.nav > ul > li > ul{
    display: none;
}
.nav > ul > li > ul > li > a{
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 158, 141);
}
.nav > ul > li > ul > li > a:hover{
    background-color: rgb(174, 109, 98);

}

#main{
    width: 80%;
}

/* slider */
#slider{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.sliderWrap{
    position: relative;
}
.sliderWrap > div{
    display: none;
}
.sliderWrap > div:first-child{
    display: block;
}
.sliderWrap .slider{
    position: absolute;
    left: 0;
    top: 0;
}
.sliderWrap .slider img{
    vertical-align: top;
}
.sliderWrap .slider .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 20px;
}
.sliderWrap .slider .text h3{
    margin-bottom: 10px;
    color: #fff;
}
.sliderWrap .slider .text p{
    color: #fff;
}

#contents{
    width: 100%;
    display: flex;
}

/* notice */
#contents .notice{
    width: 33.3333%;
    height: 200px;
    background-color: rgb(200, 228, 255);
    padding: 20px;
    box-sizing: border-box;
}
#contents .notice h3{
    margin-bottom: 10px;
}
#contents .notice li{
    line-height: 1.6;
    position: relative;
    padding-left: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#contents .notice li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}
#contents .notice li a:hover {
    text-decoration: underline;
}

/* gallery */
#contents .gallery{
    width: 33.3333%;
    height: 200px;
    background-color: rgb(159, 209, 255);
    padding: 10px;
    box-sizing: border-box;
}
#contents .gallery h3{
    margin-bottom: 10px;
}
#contents .gallery ul{
    display: flex;
}
#contents .gallery img{
    width: 80px;
}
#contents .gallery li{
    margin-right: 5px;
}
#contents .gallery li:last-child{
    margin-right: 0;
}
#contents .gallery a:hover img{
    opacity: 0.3;
}

/* link */
#contents .link{
    width: 33.3333%;
    height: 200px;
    background-image: url(./c-img/banner\ \(1\).jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contents .link h3{
    color: #fff;
    margin-bottom: 5px;
}
#contents .link p{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}
#contents .link p:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

#footer{
    width: 100%;
    display: flex;
    align-items: center;
}
#footer .footer1{
    width: 80%;
    height: 100px;
    background-color: thistle;
    text-align: center;
}
#footer .footer2{
    width: 20%;
}
#footer .footer2 .footer2-1{
    width: 100%;
    height: 50px;
}
footer .footer2 .footer2-2{
    width: 100%;
    height: 50px;
    justify-content: center;
}

/* popup */
#wrap{
    position: relative;
}
.popup-view{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: thistle;
    padding: 10px;
    display: none;
}
.popup-view .popup-close{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color: tan;
    cursor: pointer;
}